/*
--------------
IMPORTS
--------------
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,800&display=swap');


/*
--------------
BASIC FIXES & SETTINGS
--------------
*/

* {
	box-sizing: border-box;
}


body {
	font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
}

img {
	max-width: 100%;
	height: auto;
}


/*
--------------
TYPOGRAPHY
--------------
*/

h1,
h2,
h3,
h4 {
	font-weight: 800;
	font-style: italic;
	text-align: center;
	margin: auto;
}

h1	{
	color: #0A64FF;
}

h2 {
	color: #1E3149;
}

h3 {
	color: #1E3149;
}

h4 {
	color: #AAAAAA;
}


/*
--------------
HEADER
--------------
*/

header {
	height: 9em;
	width: 100%;
	position: fixed;
	top: 0;

	background-color: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	z-index: 1;

	text-align: center;
}

header a {
	height: 9em;
	width: 16em;
}

#menu-logo {
	display: inline-block;
	margin: 0 auto;
}

#menu-logo img {
	height: 3em;
	margin: 3em auto;
}


/*
--------------
COVER
--------------
*/

#reward-cover,
#congrats-cover,
#donate-cover {
	margin-top: 9em;

	background-color: #0A64FF;
	text-align: center;

	position: relative;
	z-index: -1;
	color: white;
}


/*
--------------
CARD
--------------
*/

#reward-card,
#congrats-card,
#highlight-card,
#donation-card,
#donation-preview-card,
#donation-summary-card {
	background-color: white;
	border-radius: 0.5em;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	margin: auto;
	text-align: center;
}

/* REWARD CARD */

/* REWARD FORM STYLING */

[type=radio] {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

[type=radio] + img {
	cursor: pointer;
}

[type=radio]:checked + img {
	box-shadow: 0 0 5px #0A64FF;
	border-radius: 5px;
}

#reward-partners-grid {
	display: grid;
	margin: auto;
}

.reward-partner {
	border: 1px solid #D8D8D8;
	border-radius: 0.5em;
}

.reward-partner img {
	mix-blend-mode: multiply;
}

#reward-email-input {
	border: 1px solid #AAAAAA;
	border-radius: 0.5em;
	color: #0A64FF;
	margin: auto;
	text-align: left;

	font-weight: 700;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

#reward-button {
	border-radius: 0.5em;
	margin: auto;
	background-color: #0A64FF; /* For browsers that do not support gradients */
	background-image: linear-gradient(160deg, #189DFF, #0A64FF);

	color: white;
	font-weight: 700;
	padding: 0;
	cursor: pointer;
	font-family: 'Poppins', sans-serif;
}

/* CONGRATS CARD */

#congrats-card p {
	color: #1E3149;
}

#congrats-card h2,
#congrats-card p {
	margin: auto;
}

/* HIGHLIGHT CARD */



/* DONATION CARD */

#donation-title {
	color: #0A64FF;
}

#donation-name-input {
	border: 1px solid #AAAAAA;
	border-radius: 0.5em;
	color: #0A64FF;
	margin: auto;
	text-align: left;

	font-weight: 700;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

#donation-box {
	border: 1px solid #AAAAAA;
	border-radius: 0.5em;
	color: #0A64FF;
	margin: auto;
}

#donation-amount-symbol {
	float: left;
	color: #1E3149;
	font-weight: 800;
}

#donation-amount-input {
	font-size: 3em;
	line-height: 0;
	border: 0;
	padding: 0;
	text-align: center;
	font-weight: 800;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	color: #0A64FF;
}

#donation-amount-currency {
	float: right;
	color: #1E3149;
	font-weight: 800;
}

#donation-amount-currency p {
	float: left;
}

#donation-amount-currency img {
	margin-top: 0.5em;
}

#donation-reward-wrapper {
	position: relative;
	text-align: center;
}

#donation-reward-arrows {
	position: absolute;
	width: 19.5em;
	margin: 4.5em 1.4em 0 1.4em;
}

#arrow-simple-left,
#arrow-simple-right {
	width: 1.5em;
	height: 1em;
}

#arrow-simple-left {
	float: left;
	transform: rotate(90deg);
}

#arrow-simple-right {
	float: right;
	transform: rotate(-90deg);
}

.donation-reward-box {
	border: 1px solid #AAA;
	border-radius: 5px;
	color: #AAA;
}

.reward-box-tier,
.reward-box-donated,
.reward-box-reward,
.reward-box-partners {
	font-family: 'Poppins', sans-serif;	
}

.reward-box-tier,
.reward-box-reward {
	font-weight: 800;
}

#donation-message-input {
	border: 1px solid #AAAAAA;
	border-radius: 0.5em;
	color: #0A64FF;
	margin: auto;
	text-align: left;

	font-weight: 700;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

#donation-gif-wrapper {
	position: relative;
}

#donation-gif-arrows {
	position: absolute;
}

.donation-gif-box {
	border: 1px solid #AAAAAA;
	border-radius: 0.5em;
	color: #0A64FF;
	margin: auto;

	height: 9em;
	width: 9em;
	display: inline-block;
}

.donation-gif {
	height: 7em;
	width: 7em;
	margin: 0.9em;
}

#donation-button {
	border-radius: 0.5em;
	margin: auto;
	background-color: #0A64FF; /* For browsers that do not support gradients */
	background-image: linear-gradient(160deg, #189DFF, #0A64FF);

	color: white;
	font-weight: 700;
	padding: 0;
	cursor: pointer;
	font-family: 'Poppins', sans-serif;
}

#donation-preview-box {
	border: 1px solid #AAAAAA;
	border-radius: 0.5em;
	color: #0A64FF;
	margin: auto;
}

#donation-preview-info,
#donation-preview-message {
	font-weight: 700;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	color: #1E3149;
}

span {
	color: #0A64FF; 
}

#donation-summary-card {
	font-weight: 700;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	color: #1E3149;
}

#summary-symbol,
#summary-amount,
#summary-currency {
	display: inline-block;
}

#summary-reward {
	color: #0A64FF;
}

/*
--------------
FOOTER
--------------
*/


footer {
	height: 9em;
	width: 100%;

	background-color: #101E30;

	text-align: center;
}

footer a {
	height: 9em;
	width: 16em;
}

#menu-logo {
	display: inline-block;
	margin: 0 auto;
}

#menu-logo img {
	height: 3em;
	margin: 3em auto;
}
