/*
--------------
MEDIA WIDTH SETTINGS
--------------
*/

/* --- MOBILE --- */

@media only screen and (min-width: 0px) and (max-width: 599px) {

	h1	{
		font-size: 2.5em;
		line-height: 1.75em;
	}

	h2 {
		font-size: 1.8em;
		line-height: 1.3em;
	}

	h3 {
		font-size: 1.4em;
		line-height: 1.5em;
	}

	/* --- COVER --- */

	#reward-cover,
	#congrats-cover {
		height: 11em;
	}

	/* --- GENERAL CARDS --- */

	#reward-card,
	#congrats-card {
		width: 25em;
		margin-top: -3em;
		margin-bottom: 5em;		
	}

	#reward-card {
		height: 70em;
	}

	#congrats-card {
		height: 38em;	
	}

	/* --- REWARDS CARD --- */

	#reward-card h2 {
		padding-top: 1.5em;
		width: 12em;
		margin: auto;
	}

	#reward-card h3 {
		padding-top: 2em;
		width: 15em;
	}

	#reward-card br {
		/* display: none; */
	}

	#reward-partners-grid {
		height: 27em;
		width: 19em;
		margin-top: 2em;
		margin-bottom: 2em;
		grid-gap: 1em;
		grid-template-columns: auto;
	}

	.partner-mobile {

	}

	.partner-desktop {
		display: none;
	}

	.reward-partner img {
		height: 5.8em;
		width: 18.8em;
	}

	.reward-partner {
		height: 6em;
	}

	#reward-email-input {
		font-size: 1.2em;
		height: 3.75em;
		width: 18.75em;
		margin-top: 2em;
		padding-left: 1.3em;
	}

	#reward-button {
		height: 3.125em;
		width: 14em;
		margin-top: 2em;

		font-size: 1.6em;
		line-height: 0;
		padding-top: 0.1em;
	}

	/* --- CONGRATS CARD --- */

	#congrats-card img {
		height: 12em;
		margin-top: 4em;
	}

	#congrats-card h2 {
		padding-top: 1.5em;
		width: 11em;
	}

	#congrats-card p {
		padding-top: 2em;
		width: 16.6em;
		font-size: 1.2em;
		line-height: 1.5em;
	}

}

/* --- TABLET --- */

@media only screen and (min-width: 600px) and (max-width: 1023px) {

	h1	{
		font-size: 2.5em;
		line-height: 1.75em;
	}

	h2 {
		font-size: 2em;
		line-height: 1.3em;
	}

	h3 {
		font-size: 1.6em;
		line-height: 1.5em;
	}

	/* --- COVER --- */

	#reward-cover,
	#congrats-cover {
		height: 11em;
	}

	/* --- GENERAL CARDS --- */

	#reward-card,
	#congrats-card {
		width: 51em;
		margin-top: -3em;
		margin-bottom: 5em;		
	}

	#reward-card {
		height: 62em;
	}

	#congrats-card {
		height: 40em;	
	}

	/* --- REWARD CARD --- */

	#reward-card h2 {
		padding-top: 1.5em;
		width: 22.5em;
		margin: auto;
	}

	#reward-card h3 {
		padding-top: 2em;
		width: 25em;
	}

	#reward-card br {
		display: none;
	}

	#reward-partners-grid {
		height: 22.4em;
		width: 42em;
		margin-top: 2em;
		margin-bottom: 2em;
		grid-gap: 2em;
		grid-template-columns: auto auto;
	}

	.partner-mobile {
		display: none;
	}

	.partner-desktop {

	}

	.reward-partner img {
		height: 10em;
		width: 20em;
	}

	.reward-partner {
		height: 10.2em;
	}

	#reward-email-input {
		font-size: 1.4em;
		height: 3.2em;
		width: 30em;
		margin-top: 1.6em;
		padding-left: 1.2em;
	}

	#reward-button {
		height: 3.125em;
		width: 20em;
		margin-top: 2.5em;

		font-size: 1.6em;
		line-height: 0;
		padding-top: 0.1em;
	}

	/* --- CONGRATS CARD --- */

	#congrats-card img {
		height: 15em;
		margin-top: 5.5em;
	}

	#congrats-card h2 {
		padding-top: 1.5em;
		width: 21em;
	}

	#congrats-card p {
		padding-top: 2em;
		width: 25em;
		font-size: 1.2em;
		line-height: 1.5em;
	}

}

/* --- DESKTOP --- */

@media only screen and (min-width: 1024px) {

	h1	{
		font-size: 4em;
		line-height: 1.75em;
	}

	h2 {
		font-size: 2.4em;
		line-height: 1.3em;
	}

	h3 {
		font-size: 1.8em;
		line-height: 1.5em;
	}

	/* --- COVER --- */

	#reward-cover,
	#congrats-cover {
		height: 21em;
	}

	/* --- GENERAL CARDS --- */

	#reward-card,
	#congrats-card {
		width: 90em;
		margin-top: -9em;
		margin-bottom: 10em;		
	}

	#reward-card {
		height: 66.5em;
	}

	#congrats-card {
		height: 48em;	
	}

	/* --- REWARD CARD --- */

	#reward-card h2 {
		padding-top: 1.5em;
		width: 22.5em;
		margin: auto;
	}

	#reward-card h3 {
		padding-top: 2em;
		width: 25em;
	}

	#reward-card br {
		display: none;
	}

	#reward-partners-grid {
		height: 22em;
		width: 42em;
		margin-top: 2em;
		margin-bottom: 2em;
		grid-gap: 2em;
		grid-template-columns: auto auto;
	}

	.partner-mobile {
		display: none;
	}

	.partner-desktop {

	}

	.reward-partner img {
		height: 10em;
		width: 20em;
	}

	.reward-partner {
		height: 10.2em;
	}

	#reward-email-input {
		font-size: 1.4em;
		height: 3.2em;
		width: 30em;
		margin-top: 1.6em;
		padding-left: 1.2em;
		display: block;
	}

	#reward-button {
		height: 3.125em;
		width: 20em;
		margin-top: 3em;

		font-size: 1.6em;
		line-height: 0;
		padding-top: 0.1em;
	}

	/* --- CONGRATS CARD --- */

	#congrats-card img {
		height: 20em;
		margin-top: 6em;
	}

	#congrats-card h2 {
		padding-top: 1.5em;
		width: 21em;
	}

	#congrats-card p {
		padding-top: 2em;
		width: 22em;
		font-size: 1.6em;
		line-height: 1.375em;
	}


}